.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  height: 48px;
  z-index: 1000;
}

.player-box {
  margin: 0 5%;
  display: flex;
}

.player-control {
  width: 180px;
}

.player-progress {
  display: flex;
  max-width: 600px;
  padding: 10px;
}

.track-info-box {
  box-sizing: border-box;
  min-width: 360px;
  height: 48px;
  padding: 0 8px;
  right: 0;
  display: flex;
  align-items: center;
}

.track-info-thumb-box {
  position: relative;
  height: 30px;
  width: 30px;
  background-image: linear-gradient(135deg,#8e8485,#e6846e);
  margin: 0 10px 0 0;
}

.track-info-thumb {
  height: 30px;
  width: 30px;
  opacity: 1;
  display: block;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.player-track-info {
  display: flex;
  flex-direction: column;
}

.player-play-pause {
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: inherit;
}

.play-pause {
  margin: auto;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  background-color: #eee;
  height: 2px;
  min-width: 400px;
  cursor: pointer;
}

.progress-slider {
  cursor: pointer;
  height: inherit;
  min-width: 400px;
}

.player-track-time {
  font-size: 11px;
  margin: auto 5px;
  min-width: 32px;
  color: #f50;
}

.player-track-duration {
  font-size: 11px;
  margin: auto 5px;
  min-width: 32px;
  color: #333;
}

progress[value] {color:#f50} /* IE10 */
progress::-webkit-progress-bar-value {background:#f50}
progress::-webkit-progress-value {background:#f50}
progress::-moz-progress-bar {background:#f50}

audio {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

.volume {
  margin: auto;
  width: 200px;
  height: auto;
  margin-right: 15px;
  //   -webkit-appearance: slider-vertical;
}

.volume-container {
  display: flex;
}

.volume-icon {
  min-width: 20px;
}

.volume-slider {
  margin-left: 5px;
  cursor: pointer;
}

.volume-container:hover ::-webkit-slider-thumb {
  opacity: 1;
  background: #fff;
  transition: .1s ease-in;
  transform: scale(1);
}

.fa-play {
  font-size: 18px;
  margin-left: 3px;
}

.fa-pause {
  font-size: 18px;
}
