.page-show {
  background: #f2f2f2;
  height: -webkit-fill-available;
}

.track-show {
  height: auto;
}


.track-show-header {
  position: relative;
  height: 330px;
  overflow: hidden;
  background: #e5e5e5;
  background: linear-gradient(135deg, rgb(117, 115, 117) 0%, rgb(44, 43, 44) 100%);
  padding-left: 20px;
  display: flex;
  padding: 30px 0px 20px 30px;
  // padding-right: 550px;
}

.track-show-thumb-box {
  // position: relative;
  margin-right: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 340px;
  height: 340px;
}

.track-show-thumb {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(135deg,#846170,#e6846e);
    background: center center/contain no-repeat;
    display: block;
    // width: 160px;
    // height: 160px;
    z-index: 2;
}

.track-show-content {
  position: relative;
  display: flex;
}

.icons {
  display: flex;
  width: auto;
}

.comment-icon {
  height: auto;
  margin-right: 10px;
  width: 20px;
  background: image-url('comment.png');
}

.track-content {
  // display: flex;
}

.edit-icon {
  // position: absolute;
  // top: 0;
  // right: 0;
  margin-top: 5px;
  // margin-right: 50px;
  height: auto;
  width: 18px;
  opacity: 0.6;
  background: image-url('comment.png');
}

.play-show-button {
  position: relative;
  margin-right: 5px;
  background-color: #f50;
  border-radius: 50%;
  border-color: #f50;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.track-show-info {
  position: relative;
  margin-left: 5px;
}

.track-show-artist-box {
  position: relative;
  margin-bottom: 7px;
}

.track-show-artist {
  padding: 2px 7px 3px;
  font-size: 16px;
  line-height: 1.2;
  background-color: rgba(0,0,0,.8);
  display: inline;
  color: #ccc;
  font-weight: 100;
}

.track-show-title-box {
  position: relative;
}

.track-show-title {
  padding: 4px 7px;
  font-size: 24px;
  line-height: 37px;
  color: #fff;
  background-color: rgba(0,0,0,.8);
  box-sizing: border-box;
  max-width: 100%;
  display: inline;
}

.track-show-date {
  position: absolute;
  right: 380px;
  top: 29px;
  width: 150px;
  right: 390px;
  text-align: right;
  color: #fff;
  margin-bottom: 16px;
}

.track-show-waveform {
  // height: 60px;
  // width: 100%;
  left: 20px;
  right: 380px;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  height: 100px;
  z-index: 1;
  // background-color: #e5e5e5;
  color: white;
}


.track-comments {
  position: relative;
  display: block;
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  height: inherit;
  height: -webkit-fill-available;
  // background-color: red;
}

.comment-form-inner {
  position: relative;
  // height: 0;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  // background-color: #fff6ed;
}


.comment-form {
  position: relative;
  margin-top: 0;
  // height: 0;
  padding: 5px;
  // background-color: yellow;
}

.comment-form-input {
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  display: flex;
  width: 100%;
}

.form-avatar {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  display: block;
}

.comment-textfield {
  border-radius: 4px;
  height: 27px;
  font-size: 14px;
  width: 100%;
  background: #fff;
  padding: 0 9px;
  outline: none;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}

.comment-index-box {
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  height: inherit;
  width: auto;
  // margin: 5%;
}

.comments {
  display: flex;
  flex-direction: column;
  // background-color: yellow;
  padding: 5px;
  padding-top: 0;
  width: -webkit-fill-available;

}

.comments-title {
  font-size: 14px;
  font-weight: 100;
  color: #999;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px;
}

.track-owner {
  // position: absolute;
  display: block;
  // top: 0;
  // left: 0;
  width: 120px;
}

.artist-avatar-box {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.artist-avatar {
  min-height: 100%;
  width: auto;
}

.user-avatar-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-image: linear-gradient(135deg,#846170,#e6846e);
}

.user-avatar {
  min-height: 100%;
  width: auto;
}

.comment-content {
  display: block;
}

.comment-body {
  font-size: 12px;
  color: #333;
}

.comment-user {
  font-size: 12px;
  color: #999;
  display: block;
}


// .track-show-footer {
//   position: relative;
//   margin-top: 10px;
//   min-height: 30px;
//   box-sizing: border-box;
//   // background-color: #fff6ed;
// }

.track-show-comments{
  display: flex;
  padding-right: 30px;
  border-right: 1px solid #f2f2f2;
}

.comment-index {
  display: flex;
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  height: inherit;
  width: auto;
  // margin: 5%;
}

.comment-item {
  display: flex;
  position: relative;
  padding: 10px 10px 10px 0;

}
